@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

.search-container {
    color: #FFFFFF;
    position: relative;
    width: 400px;
    margin: 50px auto;
}

.result-container ul li img {
    width: 50px;
    height: 70px;
}

body {
    background: #121212;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background: #272727;
    color: #FFFFFF;
    padding: 1rem;
}

.title-anime {
    color: #FFFFFF;
}

header h1 .logo:link {
    color: #FFFFFF;
    text-decoration: none;
}

header h1 {
    font-weight: bold;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header nav .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header nav .nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

header nav .nav-links li a:hover {
    color: #4065ba;
    transform: scale(1.5);
}

header .form {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

header .form input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
}

header .form button {
    padding: 0.5rem;
    background: #4065ba;
    border: none;
    color: #FFFFFF;
    border-radius: 0.5rem;
    cursor: pointer;
}

.main-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    color: white;
    background-color: #272727;
    justify-content: center;
    padding: 10%;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
}

.form-container .form-login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-container .btn-login {
    padding: 0.5rem;
    background: #4065ba;
    border: none;
    color: #FFFFFF;
    border-radius: 0.5rem;
    cursor: pointer;
}

.container-detail {
    display: flex;
    align-items: center;
}

.container-detail .center-text {
    color: #FFFFFF;
}

main .side {
    background: #FFFFFF;
    width: 25%;
}

main .center {
    background: #4065ba;
}

.card-section {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFFFFF;
}

.card-section .card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background: #272727;
    padding: 1rem;
    width: 20%;
}

.card-section .card .card-img {
    width: 100%;
    height: 300px;
}

.card-section .card .card-body .card-link {
    margin-top: 100rem;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

.card-section .card .card-body .card-link:hover {
    color: #4065ba;
    transform: scale(1.5);
}

.card-section .card .card-body {
    width: 100%;
    padding: 1rem;
    height: fit-content;
}